<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Gang Search</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/css/index.css" rel="stylesheet">
    <!--This enables the ajax-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js" type="text/javascript"></script>
    <script src="lib/js/controllers.js" type="text/javascript"></script>
</head>
<body ng-app="myApp" ng-controller="appCtrl">
    <div class="search">
        <!-- if haveResults is true, hide this part -->
        <div class="h1" ng-hide="haveResults" style="margin:100px 150px 50px 150px">
            <h1 class="title">Gang Search</h1>
        </div>
        <div>
            <div class="input-group input-group-lg group-margin" style="margin: 50px 200px 30px 200px">
                <!-- an event is up when client press the ENTER key. ng-model is mapped to $scope.queryWord. -->
                <input type="text" class="form-control" ng-keypress="onKeyPress($event)" ng-model="queryWord" placeholder="How can I help you?">
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button" ng-click="go(1)" ng-disabled="queryWord.length<1">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
            </div>
        </div>
        <div style="text-align: center; margin-top: 20px; margin-bottom: 20px">
            <p>Dedicated to Google</p>
        </div>
    </div>
    <!-- "results" in index.css -->
    <div class="results" ng-show="haveResults">
        <div ng-hide="haveSearchResults">
            <h3>No relevant results are available, sorry, please try something else.</h3>
            <h3>Suggestions:</h3><br>
            <li>Make sure all words you entered are spelled correctly.</li>
            <li>Try keywords that are more general.</li>
            <li>Only English words are allowed here.</li>
        </div>
        <div ng-show="haveSearchResults">
            <hgroup class="mb20">
                <h1>Search Results</h1>
            </hgroup>
            <section class="col-xs-12 col-sm-6 col-md-12">
                <article class="search-result row" ng-repeat="doc in documents">
                    <div class="col-xs-12 col-sm-12 col-md-12 excerpet">
                        <h3><a href="{{doc.url}}" target="_blank">{{doc.title}}</a></h3>
                        <div style="margin-bottom: 10px; font-weight: bold">{{doc.url}}  <!--<a class="pull-right" href="{{'/cached?path=' + doc.filePath}}" target="_blank">cached</a> -->
                        </div>
                        <p>{{doc.preview}}</p>
                    </div>
                    <span class="clearfix borda"></span>
                </article>
            </section>
            <nav style="margin-left: 30px">
                <ul class="pagination" style="">
                    <!-- For buttons, if it points to current page, can not click. If not, can click.
                     getNumbers() lets you be able to dynamically see pages forward. See there are only ten buttons and
                     you are already on 10, getNumbers() lets you see pages from 10 to 20. This makes the current page always
                     in the middle of all buttons. See google's -->
                    <li ng-class="{'current-page': i == currentPage, 'page-cursor': i != currentPage}"  style="margin:0 10px;" ng-repeat="i in getNumber(totalItems)" ng-click="pageChanged(i)" ng-disabled="i == currentPage">{{i}}</li>
                </ul>
            </nav>
        </div>

    </div>
</body>
</html>