{% extends "base.html" %}
{% block content %}
    <form class="input-group" action="/add" method="post">
        <input class="'form-control" id="content" name="content" type="text" value ="">

    <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Add</button>
    </span>
    </form>

    <div>
        <h2>Todo List</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>content</th>
                        <th>status</th>
                        <th>time</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

    </div>
{% endblock %}

